*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  width: 100%;
  height: 100%;
  font-size: 43.75%; // 7px

  @include respond(sm) {
    font-size: 46.875%; // 7.5px
  }
  @include respond(md) {
    font-size: 50%; // 8px
  }
  @include respond(lg) {
    font-size: 56.25%; // 9px
  }
  @include respond(xl) {
    font-size: 62.5%; // 10px
  }
  @include respond(2xl) {
    font-size: 71.875%; // 11.5px
  }
}

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

// not sure yet if needed

// a:active,
// a:focus,
// button:active,
// button:focus,
// input:active,
// input:focus,
// textarea:active,
// textarea:focus,
// select:active,
// select:focus,
// label:active,
// label:focus {
//   outline: 0;
// }
