#root {
  min-height: 100%;
  display: grid;
  grid-template-rows: 8rem 1fr 5rem;
  grid-template-columns: 1fr;

  & header,
  & main,
  & footer {
    padding: 1.75rem 2rem;

    @include respond(md) {
      padding: 1.5rem 4rem;
    }
  }
}
